# =========================================
# AGROVA - Environment Configuration
# =========================================

# ---------- Database ----------
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# ---------- Authentication ----------
JWT_SECRET=

# ---------- Google Authentication ----------
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ---------- External Services ----------
WEATHER_API_KEY=
AI_API_KEY=